<% content_for :title, "Articles archive" %>

<section class="hfeed">
	<h1>Articles archive</h1>

	<% @articles.reverse_each do |article| %>
		<article class="hentry">
			<h2 class="entry-title"><%= link_to article.title, article, rel: 'bookmark' %></h2>
			<div class="entry-summary">
				<%= raw truncate(article.body, length: 300) %>
				<p><%= link_to 'Read more', article, rel: 'nofollow' %></p>
			</div>
		</article>
	<% end %>
</section>