.error { margin-bottom:1em; border:2px solid rgb(45,7,6); padding:1em; background-color:rgb(234,95,93); color:rgb(45,7,6); }
.error h2 { margin-top:0; }
.error li:last-child { margin-bottom:0; }

.flash { padding:0.5em; background-color:rgb(170,12,9); color:rgb(252,227,227); position:absolute; top:0; right:0; left:0; }