nav { margin-bottom:3em; }
nav a { border-radius:6px; padding:0.5em; background-color:hsl(129,30%,20%); text-decoration:none; }
nav a:link, nav a:visited { color:rgba(255,255,255,0.7); }
nav a:hover, nav a:active, nav a:focus, nav .current a { color:rgb(255,255,255); }

#menu { padding:1em; background-color:rgba(255,255,255,0.7); font-size:14px; position:fixed; bottom:0; right:0; left:0; }
#menu p, #menu ul { margin:0; }
#menu p { float:right; }
#menu ul { float:left; }

article { margin-bottom:2em; position:relative; }
.entry-title { margin-bottom:0; }
.entry-title a { color:inherit; text-decoration:none; display:block; }
.article-meta { width:auto; overflow:hidden; font-style:italic; color:rgb(100,100,100); font-size:87.5%; }
.article-meta p { margin:0; display:inline-block; }
.categories { margin-top:0; float:right; text-align:right; }
.article-actions a { font-weight:bold; color:rgb(242,17,13); font-size:75%; text-decoration:none; text-transform:uppercase; }
.article-actions a:hover, .article-actions a:active, .article-actions a:focus { color:rgb(218,116,114); }
.entry-summary > p { margin-top:0; }

.flash { padding:0.5em; background-color:rgb(170,12,9); color:rgb(252,227,227); position:absolute; top:0; right:0; left:0; }